body{
    background-color: #F3F1FF;
}
.navbar img{
    width: 40px;
}
.player img{
    width: 56px;
}
.player-name{

}
main{
    max-width: 870px;
   
}
.top-player{
    background-color: #ffffff;
}
h3{
    color: #ffffff;
}